<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GW2Helper.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GW2Helper.Properties.Settings>
      <setting name="Notes" serializeAs="String">
        <value>Jumping puzzle solution goes here...</value>
      </setting>
      <setting name="Once" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="Auto" serializeAs="String">
        <value>False</value>
      </setting>
    </GW2Helper.Properties.Settings>
  </userSettings>
</configuration>